.floor-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50px;
    left: 60px;
    color: white;
    height: calc(100% - 50px);
    overflow: hidden;

}

.floor-reservations-wrapper {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #162a4b;
    user-select: none;
    min-width: 25vw;
    box-shadow: 2px 0 4px rgb(0 0 0);
}

.floor-reservations-header {
    background-color: #171616;
    height: 40px;
}

.slider {
    position: relative;
    background-color: #9b9b9b;
    height: 100%;
    width: 2px;
    cursor: ew-resize;
    content: "";
}