.slot-container {
    background-color: #1f1f21;
    width: 90%;
    padding: .5em;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    user-select: none;
}
.slot-container span {
    margin: 5px;
}

.slot-container:hover {
    background-color: #103974;
    transition: .5s;
}